<% if @reports_date.present? %>
<div class=" dashboard">
  <div class="row">
    <div class="container">
      <h4 class="header">Expense Overview</h4>
      <div class="col s12">
        <ul class="tabs">
          <%@reports_date.each do |k,v| %>
          <li class="tab col s3"><a href="#<%= k %>"><%= k %></a></li>
          <% end %>
        </ul>
      </div>
      <% if @reports.present? %>
      <a class="btn-floating btn-large waves-effect waves-light uploadnew red modal-trigger" href="#uploader"> <i class="material-icons">add</i></a>
      <% end %>
    </div>
  </div>
</div>

<% end %>
<div class="container">
  <div class="row">
    <%@reports_date.each do |k,v| %>
    <div id="<%= k %>" class="col s12">
      <% monthly = v.group_by {|report| report.date.strftime("%B")} %>
      <div class="col s12">
        <ul class="tabs">
          <% monthly.each do |k,v| %>
          <li class="tab col s3"><a href="#<%= k %>"><%= k %></a></li>
          <% end %>
        </ul>
      </div>
      <% monthly.each do |k,v| %>
      <div id="<%= k %>" class="col s12">
        <table>
          <thead>
            <tr>
              <th>Employee Name</th>
              <th>Category</th>
              <th>Expense Description</th>
              <th>Total Amount</th>
            </tr>
          </thead>
          <% v.each do |v| %>
          <tr>
          <td>
          <%= v.employee_name %>
          </td>
              <td>
          <%= v.category %>
          </td>

              <td>
          <%= v.expense_description %>
          </td>

              <td>
          <%= v.expense_total %>
          </td>
          </tr>
          <% end %>
        </table>
      </div>
      <% end %>
      
    </table>
  </div>
  <% end %>
  
</div>
<% if @reports.blank? %>
<%= render 'reports/shared/form' %>
<% else %>
<div class="row">
  <div class="col s12">
    <table class="responsive-table highlight bordered">
      <thead>
        <tr>
          <% @column_name.each do |name| %>
          <th>
            <%= name.titleize %>
          </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @reports.each do |report| %>
        <tr>
          <% reject_column_name(report).each do |k,v| %>
          <td>
            <%= v %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<% end %>
</div>
<div id="uploader" class="modal bottom-sheet">
<div class="modal-content">
  <i class="material-icons modal-action modal-close">close</i>
  <h5>Upload A New File</h5>
  <%= render 'reports/shared/form' %>
</div>
</div>