<div class=" dashboard">
  <div class="row">
    <div class="container">
    <% if @reports_date.blank? %>
      <h4 class="header">Accountr</h4>
      <h6 class="subheading">A Simple App for your expense reportings!</h6>
      <% else %>
      <h4 class="header">Expense Overview</h4>
      <h6 class="subheading">Generated expense report based by year and month</h6>

      <div class="col s12">
        <ul class="tabs yeartab">
          <%@reports_date.each do |k,v| %>
          <li class="tab col s3"><a href="#<%= k %>"><%= k %> Report</a></li>
          <% end %>
        </ul>
      </div>
      <a class="btn-floating  btn-large waves-effect waves-light uploadnew modal-trigger" href="#uploader"> <i class="material-icons">add</i></a>
      <% end %>
    </div>
  </div>
</div>
<div class="container">
  <% if @reports_date.blank? %>
  <%= render 'reports/shared/form' %>
  <% else %>
  <div class="row">
    <%@reports_date.each do |k,v| %>
    <div id="<%= k %>" class="col s12">
      <% monthly = v.group_by {|report| report.date.strftime("%m%b")} %>
      <div class="col s12 row">
        <ul class="tabs">
          <% monthly.sort.each do |k,v| %>
          <li class="tab col s3"><a class="monthtab" href="#<%= k[2..-1]%>"> <%= k[2..-1] %></a></li>
          <% end %>
        </ul>
      </div>
      <% monthly.each do |k,v| %>
      <div id="<%=k[2..-1]%>" class="col s12 monthly">
        <table class="responsive-table highlight bordered">
          <thead>
            <tr>
              <th>Employee Name</th>
              <th>Category</th>
              <th>Expense Description</th>
              <th> Amount</th>
            </tr>
          </thead>
          <% @total = 0 %>
          <% v.each do |v| %>
          <tr>
            <td>
              <%= v.employee_name %>
            </td>
            <td>
              <%= v.category %>
            </td>
            <td>
              <%= v.expense_description %>
            </td>
            <td class="expense_total">
              <%= v.expense_total  %>
              <% @total += v.expense_total %>
            </td>
          </tr>
          <% end %>
          <tr>
            <td></td>
            <td></td>
            <td class="total_heading">Total Amount</td>
            <td class="total_amount"><%= @total %></td> </tr>
          </table>
        </div>
        <% end %>
        
      </table>
    </div>
    <% end %>
    
  </div>
  <% end %>
</div>
<div id="uploader" class="modal bottom-sheet">
  <div class="modal-content">
    <i class="material-icons modal-action modal-close">close</i>
    <h5>Upload A New File</h5>
    <%= render 'reports/shared/form' %>
  </div>
</div>